       <br/><hr/>
       {% if is_external %}
       <div id="socials" style="margin: 10px;text-align: center;">
         <h3 style="text-align: center;font-weight: 400;font-size: 10px; letter-spacing:4px; text-transform:uppercase; font-family:'montserrat';">Follow us for News, Announcements, and Pro Tips!</h3>
         <p style="display: inline;margin: 0 5px 0 0;"><a href="http://www.facebook.com/bombplates"><img src="{{ img_path }}/fb.png" alt="Facebook" style="height: 25px; width:25px;"></a></p>
         <p style="display: inline;margin: 0 5px 0 0;"><a href="http://www.twitter.com/bombplates"><img src="{{ img_path }}/tw.png" alt="Twitter" style="height: 25px; width:25px;"></a></p>
         <p style="display: inline;margin: 0 5px 0 0;"><a href="http://www.youtube.com/officialbombplates"><img src="{{ img_path }}/yt.png" alt="Youtube" style="height: 25px; width:25px;"></a></p>
       </div>
       <div id="brand">
         <a href="http://www.bombplates.com"><img class="displayed" src="{{ img_path }}/one_color.png" alt="{{ year }} Bombplates" style="width: 25px;display: block;margin-left: auto;margin-right: auto;"></a>
       </div>
       <div id="legal" style="text-align: center;font-size: 10px; padding:10px 0;">
         This is a Bombplates account maintenance email. Log in to bombplates.com to manage your account.
       </div>
       {% endif %}
     </div>
    </div>
  </body>
</html>
